.user-details {
    margin-top: 2rem;
    width: 90%;
    margin: 0 auto;
}

.user-details .user-detail {
    width: 33%;
    float: left;
    height: 30px;
}

.user-details .list-group-item {
    border: none;
    padding-bottom: 0;
}

.user-details p:first-child {
    font-weight: 700;
}